*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    width: 1200px;
    margin: 0 auto;
    background-color: #fdde7e;
}

.more-cofe{
    display: flex;
    justify-content: center;
    width: 100%;
}

.cofe{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    background-color: #fff;
}